<form method="POST" action="/user/add">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Id</label>
        <input type="text" name="id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Enter User ID you want to add</div>
    </div>
    <div class="mb-3" >
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Enter Your First Name</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Enter Last Name</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email ID</label>
        <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Enter Your Email Id</div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>